@{
    ViewBag.Title = "Arcade Manager";
}

<div class="jumbotron">
    <h1>Arcade Manager</h1>
    <p>
        The online simulator taking you back to the golden era of arcade gaming.
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Game</h2>
            <p>
                Take control of an arcade and build your empire!
                To begin with you'll need some premises and some cash to buy stock.
                If you do well, you'll need to move to bigger premises to make even more money!
            </p>
        </div>
        <div class="col-md-6">
            <h2>Newbies</h2>
            <p>
                The game is 100% free to play, there's no fees or hidden extras, and getting started is a doddle.
                Create an account or login to an existing account, and then start a new game or load one of your existing games.
        </div>       
    </div>
</div>
